:root {
	color-scheme: dark;

	--text-color: #fff;
	--bg-color: #000;
	--fg-color: #111;
	--border-color: #999;
	--border-radius: 0.25rem;

	--primary: hsl(200, 100%, 50%);
	--primary-light: hsl(190, 100%, 70%);
	--primary-dark: hsl(210, 100%, 50%, 0.3);

	--secondary: hsl(20, 70%, 50%);
	--secondary-light: hsl(30, 70%, 50%);
	--secondary-dark: hsla(10, 70%, 50%, 0.3);

	--shadow-md: 0 1px 3px -1px rgba(0, 0, 0, 0.16), 0 1px 6px -2px rgba(0, 0, 0, 0.12);
	--shadow-lg: 0 1px 5px 1px rgba(0, 0, 0, 0.16), 0 1px 9px 1px rgba(0, 0, 0, 0.12);
	--shadow-xl: 0 1px 7px 2px rgba(0, 0, 0, 0.16), 0 1px 13px 2px rgba(0, 0, 0, 0.12);

	--block-bg: var(--fg-color);
	--block-border: var(--border-color);
	--block-bg-selected: var(--primary-dark);
	--block-border-selected: var(--primary);

	--font-family: system-ui, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	font-family: var(--font-family);
	font-size: 16px;

	min-height: 100vh;
	color: var(--text-color);
	background: var(--bg-color);
	line-height: 1.6;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
