{
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "plugins": [
    "html"
  ],
  "root": true,
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "compat-api/html": "off",
    "yoda": [
      "error",
      "never",
      {
        "exceptRange": true
      }
    ],
    "unicorn/consistent-function-scoping": "off",
    "unicorn/no-fn-reference-in-iterator": "off",
    "unicorn/prefer-query-selector": "off",
    "unicorn/prefer-ternary": "off",
    "unicorn/no-null": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-reduce": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "consistent-return": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-multiple-empty-lines": "off",
    "no-else-return": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "no-shadow": "off",
    "no-plusplus": "off",
    "no-use-before-define": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-unused-expressions": "off",
    "default-case": "off",
    "no-control-regex": "off"
  }
}
